{% extends "layout.html" %}

    {% block title %}
        PowMash: Control your mashup
    {% endblock %}

    {% block head %}
        <style>
            ul{
                list-style: none;
                padding: 0px;
                font-size: 2em;
            }
            button{
                font-weight: 800;
            }
        </style>
    {% endblock %}

    {% block body %}
        <ul>
            <li class="activity">
                Activity: (not running)
            </li>
            <li class="step">
                Step: (not running)
            </li>
        </ul>
        <button class="btn btn-lg btn-primary js-btn-next">
                 Next activity
         </button>

    {% endblock %}

    {% block footer %}
        <script>
        jQuery(function ($) {
            var activity = $('.activity');
            var step = $('.step');

            $('.js-btn-next').on('click', function () {
                // Disable button.
                $('.js-btn-next').attr('disabled','disabled');

                $.ajax({
                    timeout: 60000,
                    type: 'POST',
                    url: '/control'
                })
                    .done(function (result) {
                        activity.html("Activity: " + result.curr_activity);
                        step.html("Step: "+ result.curr_step);
                        if (result.task_finished && result.task_finished) {
                            result.html("");
                            step.html("");
                            step.after("<li class=\"task\"> Task has finished. </li>");
                        }else{
                            $('.js-btn-next').removeAttr('disabled');
                        }
                    })
                    .fail(function () {
                        alert('There was an error in the execution.');
                        $('.js-btn-next').removeAttr('disabled');
                    });
            });
        });
        </script>
    {% endblock %}
